<div class="h-100">
<%- include('../headers/header.ejs') %>

<div class="bg-colour bg-colour d-flex  log justify-content-center ">
    <div class="main container  d-flex flex-column align-items-center ">
        <div class="login_section p-4 rounded shadow my-5">
            <h2 class="text-center log_header mb-4">SIGN UP</h2>
            <form action="/signup" method="POST" class=" d-flex flex-column gap-3">
                <label for="username" class="fw-bold">User name</label>
                <input type="text" placeholder="Enter username"  class="border-1 w-100 rounded-1 py-1 ps-1" name="username">
                <label for="password" class="fw-bold">Password</label>
                <input type="text" placeholder="Enter password"  class="border-1 w-100 rounded-1 py-1 ps-1" name="password">
                <button  class="btn mt-4  bg-danger-subtle fw-bolder px-4 text-light w-100 log_btn mb-3">Sign Up</button>
            </form>
        </div>
    </div>
</div>
</div>

<%- include('../footers/footers.ejs') %>
</div>