<footer class="bg-colour py-3 border-top border-dark-subtle">
    <div class="container  text-center ">
        <p class="text-secondary m-0">@BloggeR built using NodeJS, Express, and MongoDB</p>
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>